%header.header　チャットグループが作成されました。

.wrapper
 .left-content
  .header
   .header-content 
    .header-name sei.kumai
    .header-lists
     %link_to
      %i.fa.fa-pencil-square-o
     %link_to
      %i.fa.fa-cog
  .groups
   =render 'messages/groups'

 .right-content
  .header
   .header-left
    .header-group-name sampleグループ
    .group-member Menber:sei kumai
   .header-right Edit
  .messages
   =render 'messages/chat'
  .footer
   %form
    %input.submit-message(placeholder='type a message')
    .image-file
     %label.upload-label(for='upload-icon')
      %i.fa.fa-picture-o
      %input#upload-icon.hidden(type='file')
    %button_tag.submit(type='submit') Send
