%header.header　チャットグループが作成されました。

.wrapper
  .leftContent
    .header
      .headerContent 
        .headerContent__name sei.kumai
        .headerContent__lists
          %link_to
            %i.fa.fa-pencil-square-o
          %link_to
            %i.fa.fa-cog
    .groups
      =render 'messages/groups'

  .rightContent
    .header
      .headerGroup
        .headerGroup__name sampleグループ
        .headerGroup__member Menber:sei kumai
      .headerRight Edit
    .messages
      =render 'messages/chat'
    .footer
      %form.submit
        %input.submitMessage(placeholder='type a message')
        .submitFile
          %label.submitFile__uploadLabel(for='upload-icon')
            %i.fa.fa-picture-o
            %input#upload-icon.submitFile__uploadLabel--hidden(type='file')
        %button_tag.submitButton(type='submit') Send
