%header.header　チャットグループが作成されました。

.wrapper
  .left-content
    .header
      .headerContent 
        .headerContent_name sei.kumai
        .headerContent_lists
          %link_to
            %i.fa.fa-pencil-square-o
          %link_to
            %i.fa.fa-cog
    .groups
      =render 'messages/groups'

  .right-content
    .header
      .headerGroup
        .headerGroup_name sampleグループ
        .headerGroup_member Menber:sei kumai
      .headerRight Edit
    .messages
      =render 'messages/chat'
    .footer
      %form.submit
        %input.submitMessage(placeholder='type a message')
        .submitFile
          %label.submitFile_uploadLabel(for='upload-icon')
            %i.fa.fa-picture-o
            %input#upload-icon.submitFile_uploadLabel-hidden(type='file')
        %button_tag.submitButton(type='submit') Send
