header{
	background-color: #38AEF0;
	text-align: center;
	color: white;
}

.wrapper{
	display: flex;
	height: 100%;

.left-content{
	box-sizing: border-box;
	width: 300px;
	background-color: #fff;
	.header{
		background-color:#253141;
		height:100px; 
		line-height: 100px;
		padding: 0 20px;
		position: relative;
		.header-content{
			height: 50px;
    		width: 100%;
    		line-height: 50px;
    		margin: auto 0;
    		position: absolute;
    		top: 0;
    		bottom: 0;
		
		.header-name{
			color: #FFFFFF;
			font-weight: Bold;
			font-size: 16px;
			float: left;
		}

		.header-lists{
			padding-left: 200px;
			position: relative;
		i{
			color: #fff;
			display: inline-block;
    		font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
		  }
		}
		}
    }
	.groups{
		background-color: #2f3e51;
		height: calc(100% - 100px);
		padding: 0 20px;
		.group{
			height: 41px;
			padding: 20px 0;
			.group-name{
				font-size: 15px;
				color: #FFFFFF;
				padding-bottom: 5px;
			}
			.newest-message{
				font-size: 11px;
				color: #FFFFFF;
			}
		}
	}
}

.right-content{
	box-sizing: border-box;
	width: calc(100% - 300px);
	.header{
		box-sizing: border-box;
		height: 100px;
		padding: 0 40px;
		border: 1px solid #eeeeee;
		.header-left{
			float: left;
			padding-top: 20px;
			.header-group-name{
				padding: 15px 0;
				font-size: 20px;
				color: #333333;
			}
			.group-member{
				font-size: 12px;
				color: #999999;
			}
		}
		.header-right{
			border: 1px solid #38AEF0;
    		color: #38AEF0;
    		float: right;
    		height: 40px;
    		line-height: 40px;
   			margin-top: 28px;
    		padding: 0 20px;
		}
	}
	.messages{
		box-sizing: border-box;
		height: calc(100% - 100px - 90px);
		overflow: scroll;
		padding: 26px 40px 0;
		background-color: #AAAAAA;
		.message{
			padding: 20px 0;
			position: absolute;
			.user-name{
				font-size: 16px;
				color: #434A54;
				float: left;
			}
			.time{
				font-size: 12px;
				color: #999999;
				float: left;
				padding-left: 10px;
			}
			.sentence{
				padding-top: 10px; 
				font-size: 14px;
				color: #434A54;
				clear: both;
			}
		}
	}
	.footer{
		background-color: gray;
		box-sizing: border-box;
		height: 90px;
		padding: 20px 40px 20px 40px;
		position: relative;
		form{
		.submit-message{
			height: 50px;
			width: calc(100% - 139px);
			padding: 0 10px;
			position: relative;
		}
		.image-file{
			height: 50px;
			width: 40px;
			margin: 38px 142px 20px 0;
			position: absolute;
			top: 0;
			right: 0;
			label{
    			display: inline-block;
    			font-family: FontAwesome;
    			font-weight: normal;
    			font-size: inherit;
    			text-rendering: auto;
    			-webkit-font-smoothing: antialiased;
    			.hidden{
    				display: none;
    			}
		}
		}
		.submit{
			height: 50px;
			width: 100px;
			line-height: 50px;
			text-align: center;
			background-color: #38AEF0;
			color: #FFFFFF;
			margin: 0 40px 0 15px;
			position: absolute;
		}
	}
	}
}
}